/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de menú */
.menu {
    background-color: #FF0000; /* Rojo */
    color: #FFFFFF; /* Blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

.menu-item:hover {
    text-decoration: underline;
}